/vendor/
node_modules/
npm-debug.log
yarn-error.log

storage/*.key
storage/*
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
docker/mysql/*
public/storage

.idea
/nbproject/private/
/nbproject/*
